
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add Coupon</p>
  
       
        <form action="/admin/addcoupon" method="POST" >
  <div class="container mt-5">
     {{#if error}}
        <p>Coupon Code Already exists</p>
        {{/if}}
         {{#if cerror}}
        <p>Coupon Name Already exists</p>
        {{/if}}
       
           <label for="">Coupon Name</label>
          <input type="text" name="name" class="form-control" />
          <label for="">Code</label>
           <input type="text" name="code" class="form-control" />
          <label for="">Minimum Amount for purchase</label>
          <input type="number" name="minAmount" class="form-control" />
          <label for="">Cashback</label>
        <input type="number" name="cashback" class="form-control" />

         
          
          <label for="">Expiry</label>
          <input type="date" name="expiry" class="form-control" />
         
         

          <button type="submit" class="btn btn-success mt-5">Submit</button>
        </form>  <div class="row">
     
        
      </div>
    </div>
  </div>

