<form method="post">
  <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col">
                <div class="card my-4 shadow-3">
                    <div class="row g-0"><div class="col-xl-12">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-4 text-uppercase text-center">Add Address</h3> <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg "
                                        name="name" placeholder="Name" />
                                         </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="mobile" placeholder="Mobile" />
                                        </div>
                                         <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="pincode" placeholder="Pincode" />
                                        </div>
                                         <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="locality" placeholder="Locality" />
                                         </div><div class="form-outline mb-4"> <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="address" placeholder="Home address" /></div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="city" placeholder="City" />

                                </div>
                                <div class="form-outline mb-4">
                                    <input type="text" id="form3Example8" class="form-control form-control-lg"
                                        name="state" placeholder="State" /></div>
                                <div class="row">
                                    <div class="col-md-6 mb-2"><a href="" class="addb"><button type="submit"
                                                class="btn btn-success btn-lg ms-2 mx-4 ">Save Address</button></a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    @media (max-width: 767px) {
        .addb {
            padding-left: 50px;
        }
    }

    @media (min-width: 767px) {
        .addb {
            padding-left: 400px;
        }
    }
</style>