
    <nav class="navbar navbar-light bg-dark ">
    
        <h1 style="color: white;">Admin Panel</h1>
        <a href="/admin" style="color: white;">DashBoard</a>
        <a href="/admin/user-list" style="color: white;">Users</a>
        <a href="/admin/product-list" style="color: white;">Products</a>
        <a href="/admin/category-list" style="color: white;">Category</a>
        <a href="/admin/order-list" style="color: white;">Orders</a>
        <a href="/admin/coupons" style="color: white;">Coupon</a>
        <a href="/admin/banner" style="color: white;">Banner</a>
        <a href="/admin/salesreport" style="color: white;">Sales Report</a>
        <a href="/admin/logout" style="color: rgb(237, 18, 18);">Logout</a>
        <a href=""></a>
    <form class="form-inline mb-2" action="#" method="post" >
      <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search here" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
<!-- <br>
    <h2>Product Details</h2> -->
    
<nav class="navbar navbar-light bg-light mt-4">
    <br>
   
    
      <h1 class="text-center my-5">CATEGORY LIST</h1>
      <form action="/admin/add-category" method="get">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Add Catogory</button>
    </form>
  </nav>

  <div class="mx-5">
<table class="table table-striped">
  <thead>
   <tr>
        <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    {{#each categorys}}
      <tr>
      
        <td>{{this.category}}</td>

        
        <td> {{#if this.block}}
                <button
                  onclick="if( confirm(' Are you sure to unblock category?')){window.location.href='/admin/unblockcategory/{{this._id}}' }"
                  class="btn_2 btn-success ">Unblock</button>
                {{else}}
                <button
                  onclick="if( confirm(' Are you sure to block category?')){window.location.href='/admin/blockcategory/{{this._id}}' }"
                  class="btn_2 btn-danger ">Block</button>
                {{/if}}
              </td>
          </tr>
      {{/each}}
  </tbody>
</table>
  </div>