
    <div class="dd">
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://pic.onlinewebfonts.com/svg/img_1823.png" alt="" width="70" height="60">
    <h3 class=" d1 display-8 fw-bold">Your order has been recieved</h3>
    <img class="d-block mx-auto mb-4" src="https://img.freepik.com/free-vector/seasonal-sale-discounts-presents-purchase-visiting-boutiques-luxury-shopping-price-reduction-promotional-coupons-special-holiday-offers-vector-isolated-concept-metaphor-illustration_335657-2766.jpg?w=740&t=st=1679408207~exp=1679408807~hmac=5aa95d24539b42b2bb63b751a45bf7cb4a73eee36120f19bff5972f232bf7ddc" alt="" width="350" height="350">
    <div class="col-lg-6 mx-auto">
      <p class="d1 lead mb-4">Thank you for your purchase!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn px-4 gap-3  " style="background-color:#ff2020; "><a href="/orderlistpage"style="text-decoration:none;" >Go to your Order</a></button>
      </div><br>
    <a href='/' class="text-center text-decoration-none" style=" color: black; ">Return to Homepage</a>

    </div>
  </div>
  </div>
  <style>
  @media (min-width: 576px) {
 .dd{
    
    margin-top: 50px;
    border: black;
 }
  }  
 @media (max-width: 576px) {
 .d1{
   font-size: medium; 
    
 }
  } 
  </style>