


    

{{!-- <!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Watch shop | eCommers</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/slicknav.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.css">
        <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/css/themify-icons.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/style.css">
</head> --}}
<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <h1>Si<span style="color: #ff2020;">Gag</span></h1>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block ">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="/">Home</a></li>
                                    <li><a href="">shop</a></li>
                                    <li><a href="">about</a></li>
                                    
                                    </li>
                                  
                                    <li><a href="#">Pages</a>
                                        
                                    </li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li> <a href=""><span class="flaticon-user"></span></a></li>
                                <li><a href=""><span class="flaticon-shopping-cart"></span></a> </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>


    <div class="text-center center-div pt-5 pl-5 ml-5" style="display: flex; justify-content: center; align-items: center;" >
        <div class="container w-100 border py-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">SignUp</h2>
                
                
                   
            </div>
            {{!-- style="display: flex; flex-direction: column; justify-content: center; align-items: center;" --}}
            <form action="/signup"  method="post" class="pt-1">
                <div class="form-group row">
                  <div class="ml-5">{{message}}</div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control ml-5" id="name" name="name" value="" placeholder="Username" required>
                  </div>
                </div>
                <div class="form-group row">
                  
                  
                  <div class="col-sm-10">
                    
                    <input type="string" class="form-control ml-5" id="number" name="mobile" value=""placeholder="mobile" required minlength="10" maxlength="10"><br>
                     <input type="email" class="form-control ml-5" id="email" name="email" value=""placeholder="email" required><br>
                      <input type="password" class="form-control ml-5" id="password" name="password" value=""placeholder="Password" required maxlength="6"><br>
                       <br>
                       
                       
                       
                    <a href="/sign"> <button type="submit" value="submit" class="btn_3 btn btn-dark ml-5">SignUp</button></a>
                                        
                  </div>
                </div>
              </form>
        </div>
    </div>

   



            